@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
padding-top: 80px;
padding-left: 85px;
}

/*parte cental do youtube*/

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

p{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.video-preview{
   
}

.foto-capa{
    margin-bottom: 10px;
    position: relative;
}

.thumbnail{
    width: 100%;
}

.grid-text-canal{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;

}

.video-name{
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
}

.video-info{
    color: rgb(73, 73, 73);
    font-weight: 100;
    font-size: 13px;
}

.channel{
    vertical-align: top;
    
    
}

.imgcanal{
    width: 40px;
    border-radius: 50%;
    
}

.texto{

}

.time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 5px;
    padding: 2px 4px;
    border-radius: 5px;
}

/*barra de cima onde fica a barra de pesquisa*/

.cabe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(219, 219, 219);
    z-index: 100;
}

.esquerda{
    display: flex;
    height: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin-right: 50px;
    align-items: center;
}

.hamb{
    height: 23px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo{
    height: 20px;
}

.center{
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    max-width: 600px;
    display: flex;
    align-items: center;
    
}

input{
    outline: 0;
    flex: 1;
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
}

.pesquisa{
    width: 62px;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    margin-right: 6px;
}

.iconss{
    width: 25px;
}

.mic{
    width: 41px;
    height: 41px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 50%;
}

.direita{
    height: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.but-dir{
    width: 41px;
    height: 41px;
    border: none;
    
    background-color: white;
}

.fot{
    width: 35px;
    border-radius: 50%;
}

.notificaçao{
    position: relative;
}

.noti{
    position: absolute;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
    top:5px;
    right: 7px;
}


/* side bar*/

.sidebar{
    background-color: aquamarine;
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 75px;
}

.sidebar-box{
    height: 76px;  
}

.sidebar-box:hover{
    background-color: rgb(235, 235, 235);
}