@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/*parte cental do youtube*/

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

p{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.video-preview{
   
}

.foto-capa{
    margin-bottom: 10px;
}

.thumbnail{
    width: 100%;
}

.grid-text-canal{
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 10px;

}

.video-name{
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
}

.video-info{
    color: rgb(73, 73, 73);
    font-weight: 100;
    font-size: 13px;
}

.channel{
    vertical-align: top;
    
    
}

.imgcanal{
    width: 40px;
    border-radius: 50%;
    
}

.texto{

}

/*barra de cima onde fica a barra de pesquisa*/

.cabe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esquerda{
    display: flex;
    height: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin-right: 50px;
    align-items: center;
}

.hamb{
    height: 23px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo{
    height: 20px;
}

.center{
    flex: 1;
    background-color: rgb(255, 255, 255);
    margin-right: 100px;
    max-width: 600px;
    display: flex;
    align-items: center;
}

input{
    outline: 0;
    flex: 1;
    padding: 10px;
    border: 1px solid gray;
    font-size: 16px;
}

.pesquisa{
    width: 62px;
    height: 40px;
    border: 1px solid rgb(105, 105, 105);
    margin-right: 6px;
}

.iconss{
    width: 25px;
}

.mic{
    width: 41px;
    height: 41px;
    border: 1px solid gray;
    border-radius: 50%;
}

.direita{
    height: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.but-dir{
    width: 41px;
    height: 41px;
    border: none;
    margin-right: 20px;
    background-color: white;
}

.fot{
    width: 35px;
    border-radius: 50%;
}

