@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
   padding-top: 10px;
   padding-bottom: 10px;

}

.esquerda{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.esquerda img{
    width: 15px;
    background-color: white;
}
.menu{
    background-color: white;
    padding: 5px 10px;
    color: rgb(110, 110, 110);
}
.centro{
    
    display: flex;
    justify-content: center;
}

.centro img{
    height: 100px;
    width: 300px;
    object-fit: contain;
}

.fixed{
    background-color: #F5821F;
    height: 60px;
    display: flex;
    justify-content: center;
}

.motos_menu{
    
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 20px 30px;
    width: 250px;
}

.motos_menu:hover{
    font-size: 18px;
}

a{
    text-decoration: none;
}