@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header{
    background-color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
   padding-top: 10px;
   padding-bottom: 10px;

}

.esquerda{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.esquerda img{
    width: 15px;
    background-color: white;
}
.menu{
    background-color: white;
    padding: 5px 10px;
    color: rgb(110, 110, 110);
}
.centro{
    
    display: flex;
    justify-content: center;
}

.centro img{
    height: 100px;
    width: 300px;
    object-fit: contain;
}

.fixed{
    background-color: #F5821F;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.motos_menu{
    
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 0px 30px;
    
}

.motos_menu:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.baner img{
    width: 2000px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

section{
    padding: 0px 400px;
}

@media (max-width: 1500px){
    .baner img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: right;
    }

    .fixed{
        background-color: #F5821F;
        height: 60px;
        display: flex;
        justify-content: center;
        
    }
    section{
        padding: 0px 30px;
    }
}   

.rodape{
    background-color: #F5821F;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 50px;
}
.rodape a:visited{
    color: #ffffff;
}
.rodape a:hover{
    text-decoration: underline;
}


.titu{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0px;
}

.conteudo p.para{
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.imgamor{
    margin: 10px 0px 20px 0px;
    object-fit: cover;
    height: 400px;
    width: 100%;
}