
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

        .container{
            display: flex;
            flex-direction: row;
            column-gap: 15px;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        .esquerda{
            flex: 2;
        }
        .baner{
            
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
        }
        .navegacao{
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 10px;
            column-gap: 15px;
            row-gap: 15px;
            margin-bottom: 10px;
        }
        .navs{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #bfb8a3;
            text-align: center;
            font-weight: 600;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
            height: 45px;
            font-size: 18px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        .dados{
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
        }
        .noticias{
            
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
        }
        .direita{
            background-color: rgba(228, 207, 248, 0.114);
            flex: 1;
        }
        .usuario{
            
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
        }
