@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #FAFC42;
    padding:100px;
    padding-top: 150px;
}



div#box{
    background-color: #AD5CFF;
    height: 500px;
    width: 400px;
    float: right;
    
}

h1{
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

