@charset "UTF-0";

*{
    margin: 0px;
    padding: 0px;
}

main{
    background-color: rgb(255, 255, 255);
    height: 500px;
    padding: 25px;
}

fieldset{
    padding: 15px;
    background-color: blanchedalmond;
    max-width: 1000px;
}

input{
padding: 10px;
}

