@charset "UTF-8";

input{
  border-radius: 8px;
  outline: 0;
  border: 1px solid gray;
  padding: 10px;
  
}

.email{
  display: block;
  margin: 10px 0px;
}

button{
display: block;
background-color: rgb(48, 155, 255);
color: white;
padding: 10px 86px;
border: none;
border-radius: 8px;
}