*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

header{
    background-color: #111133;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 16px 30px;
    height: 73px;
    justify-content: space-between;
}

/* div Menu */
#menu{
    position: absolute;
    width: 220px;
    background-color: rgb(255, 255, 255);
    top: 73px;
    left: 0px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    display: block;
    padding-top: 5px;
    display: none;
}

/* espaço que mostra as informações do usuário dentro do menu*/
.informacoes{
    padding: 6px 16px;
    height: 68px;
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 10px;
}

/*div que possui os dois botes do menu, o de Meus projetos e o Descobrir */
.infoMenu{
    border-bottom: 1px solid rgb(228, 228, 228);
}

/* configuração dos links que envolvem os botões do menu*/
.infoMenu > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* configuração dos botoes do menu*/
.butinfoMenu{
    margin-bottom: 8px;
    padding: 6px 16px;
}

/* configuração da div do botão de sair que fica no menu*/
.sair{
    padding: 6px 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    height: 50px;
}

/* configuração do icone do Botão de sair*/
.sair > img{
    width: 24px;
}

/* configuração do da tag main da página*/
main{
    padding: 112px 20px 30px 20px;
    margin: auto;
}



/* configuração da div que possui os elementos do início do header*/
.inicioheader{
    display: flex;
    column-gap: 0px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    color: white;
    height: 41px;
}

/* configuração da div que possui o logo do header*/
.logo{
    width: 111px;
    height: 41px;
    margin-right: 100px;
}

/* div que possui o icone de menu*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* configuração do icone de menu*/
.menu > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* configuração da imagem da logo*/
.logo > img{
    width: 111px;
    height: 41px;
}

/* configuração do botao de projetos exposto no header*/
.botaoprojetos{
    margin-right: 24px;
    text-align: center;
}

/* configuração do botao de Descobrir exposto no header*/
.descobrir{
    text-align: center;
}

/* configuração  da div que fica no fim do header*/
.fimheader{
    display: flex;
    column-gap: 10px;
    height: 41px;
}

/* configuração da imagem do perfil do usuario*/
.foto > img{
    width: 40px;
    border-radius: 50%;
}

/* configuração do icone de notificação*/
.notificacao > img{
    width: 40px;
    border-radius: 50%;
}


@media (max-width: 650px){
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .descobrir{
        text-align: center;
        display: none;
    }

    .botaoprojetos{
        margin-right: 24px;
        text-align: center;
        display: none;
    }

    header{
        width: 100%;
        border-radius: 0px 0px 5px 5px;
    }

    .logo{
        width: 111px;
        height: 41px;
        margin-right: 50px;
    }

}

/* configuração do texto principal do main*/
.texto{
    padding: 0px 20px;
    font-size: 34px;
    color: #222244;
    font-weight: 400;
    max-width: 744px;
    margin: auto;
    text-align: center;
    margin-bottom: 120px;
}

@media (max-width: 650px){
    .texto{
        padding: 0px 20px;
        font-size: 24px;
        color: #222244;
        font-weight: 400;
        max-width: 744px;
        margin: auto;
        text-align: center;
        margin-bottom: 35px;
        
    }
}

/* configuração configuração da div que possui o input de buscar tag*/
.buscatag{
    margin-bottom: 25px;
}

/* configuração do input de buscar tag*/
.buscatag > input{
    padding: 10px 5px;
    outline: none;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    max-width: 723px;
    width: 50%;
    
}

@media (max-width: 650px){
    .buscatag > input{
        padding: 10px 5px;
        outline: none;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 5px;
        max-width: 389px;
        width: 100%;
        min-width: none;
    }
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 20px;
}

@media (max-width: 1256px){
    .container{
        padding-left: 0px;
        max-width: 795px;
        margin: auto;
    }
}

@media (max-width: 832px){
    .container{
        padding-left: 0px;
        max-width: 430px;
        margin: auto;
    }
}

/* configuração da div que e pai das divs que vão exibir os projetos*/
.exibirprojetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    row-gap: 15px;
    column-gap: 15px;
}

/* configuração da div que vai receber os projetos*/
.projeto{
    width: 389px;
    background-color: #ffffff;
}


/* imagem dentro da div projeto*/
.projeto > img{
    width: 100%;

}

.rodapeProjeto{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;

}

.rodapeProjeto > img{
    width: 24px;
    border-radius: 50%;
}

.rodapeProjeto > p{
    color: #515255;
}


/* start of new code*/
#pop{
    width: 90%;
    max-width: 1042px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    padding: 45px 90px;
}

#datapop{
    color: #515255;
}

#titulopop{
    font-size: 24px;
}

#linkPop{
    color: rgb(255, 255, 255);
    padding: 8px 22px;
    background-color: #FF5522;
    border-radius: 5px;
}
/* end of new code*/


div.imgprojeto{
    text-align: center;
    margin-bottom: 20px;
}

#imagempopProjeto{
    width: 838px;
}
.fechar{
    position: absolute;  
    top: 0px; 
    right: 0px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.headerpop{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fotoEnome{
    display: flex;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

#imagemperfilpop{
    width: 40px;
    border-radius: 50%;
}

.popfooter{
    background-color: #ffffff;
}

.popfooter > p{
    margin-bottom: 20px;
}

#telaescura{
    background-color: rgba(0, 0, 0, 0.43);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    display: none;
}




